/* Body element */
body {
    background-color: #ffffff;
    color: rgba(0,0,0,0.8);
    }
    .light-mode body {
    background-color: #96071f;
    color: #ffffff;
    }

    .light-mode .footer-item{
        color: #ebebeb;
    }
    .light-mode .el-drawer {
        background-color: #96071f;
    }
    /* */
    .dark-mode body {
    background-color: #4e2358;
    color: #ffffff;
    }
    .dark-mode .backcolor{
        background-color: #000000;
    }
    .dark-mode .el-drawer {
        background-color: #4e2358;
      }
    /* */
    .gray-mode body {
    background-color: #65658d;
    color: #ffffffef;
    }
    .gray-mode .backcolor{
        background-color: rgba(50, 64, 63, 0.98);

        color: #FFFFFF;
    }

    .gray-mode .el-drawer {
        background-color: #65658d;
        color: #FFFFFF;
    }
   
    
    /* Active link */
    .router-link-active {
    border-bottom: 1px solid rgba(50, 64, 63, 0.2);
    }
    .dark-mode .router-link-active {
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    }
    .gray-mode .router-link-active {
    border-bottom: 1px solid rgba(207, 207, 207, 0.5);
    }
    /* input */
    textarea,
    input, select{
    padding:.5em;
    display: block;
    max-width: auto;
    margin-top: .2em;
    padding: .5em;
    border: 1px solid rgba(111, 109, 109,.2);
    border-radius: 4px;
    background: none;
    }
    .dark-mode textarea,
    .dark-mode input,
    .gray-mode select  {
    border: 1px solid rgba(199, 197, 197, 0.8);
    }
    .gray-mode textarea,
    .gray-mode input,
    .gray-mode select {
    border: 1px solid rgba(41, 41, 45, 0.8);
    } 

    .layout3 .container {
        text-size-adjust: 20%;
    }